.video__iframe {
  width: 515px;
  height: 316px;
  margin-right: 20px;
  border: 0;
}

.video__iframe:nth-child(2) {
  margin-right: 0;
}

/* при смене div на li перестали работать, поэтому пришлось обратиться через ссылку
.video__iframe[src='https://www.youtube.com/embed/5MgBikgcWnY'] {
  margin-right: 0;
}*/