.table {
    display: flex;
    justify-content: space-between; /*распредляем элементы равномерно*/
    flex-wrap: wrap; /*настраиваем перенос элементов на новую строку, если не умещаются*/
    width: 1100px;
    margin: 0; /*также убираем ненужные отступы*/
    padding: 0; /*убираем непонятно откуда взявшийся левый отступ и остальные заодно*/
    list-style-type: none; /*убираем маркировку списка*/
  }